Options -Indexes

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
</IfModule>

<FilesMatch "\.(db|sqlite|sqlite3)$">
  Require all denied
</FilesMatch>
